.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease;
}

header a:hover {
  color: #f08040;
}

.brand a {
  font-size: 3rem;
}

main {
  grid-area: main;
}

footer {
  background: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
