@import 'variables';
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #f08040;
}

input,
button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  transition: all 0.6s ease;
}

button {
  cursor: pointer;
}

input:hover,
button:hover {
  border: 0.1rem solid #404040;
}

button.primary {
  background-color: $primary;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.overlay > div {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40rem;
}

.overlay > div > * {
  margin: 2rem;
}

.fw {
  width: 100%;
}

.error {
  color: $error;
  font-weight: bold;
}
.success {
  color: $success;
  font-weight: bold;
}
