.order {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.order h2 {
  margin: 0;
  font-size: 2rem;
}

.order .cart-list-container {
  padding: 0;
}

.order-info {
  flex: 3 1 60rem;
}

.order-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.order-info > div:first-child {
  margin-top: 0;
}

.order-info > div:last-child {
  margin-bottom: 0;
}

.order-info > div {
  padding: 1rem;
}

.order-action {
  flex: 1 1 20rem;
  border: 0.11rem solid #c0c0c0;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.order-action > ul {
  padding: 0;
  list-style-type: none;
}

.order-action li:first-child {
  border-bottom: none;
}

.order-action li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order-action .total {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  color: #c04000;
}
