.profile {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	&-info {
		flex: 1 1 30rem;
	}

	&-orders {
		flex: 3 1 60rem;
		margin-left: 1rem;
	}
}

table {
	width: 100%;
}

th {
	text-align: left;
}

tbody > tr:nth-child(odd) {
	background-color: #f0f0f0;
}

td {
	padding: 0.5rem;
}
